/* Stylesheet for the Wiki
 Based on the lighttpd default page in debian */

/* General body */
html,body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    height: 100vh;
}

#content {
    display: flex;
    margin:0;
    padding: 0;
    flex-direction:column;
    min-height: 100vh;
}
.title {
    text-align: center;
    margin: 0;
}

#root {
    margin: 0.5em;
    flex-grow: 1;
    width: calc(100% - 2em);
    box-sizing:border-box;
}
#root.edit {
    display: flex;
    flex-direction: column;
}
#input {
    font-size:1.5em;
    flex-grow: 1;
    margin-bottom:1em;
}

select {
    margin: 0.3em;
}

a.button {
    border: 3px #008CBA solid;
    border-radius:0.3em;
    padding:0.3em;
    margin: 0.5em;
    transition-duration: 0.1s;
}

a.button:hover {
    cursor:pointer;
    background-color: #008CBA;
    color: white;
}

/* Side by side view */
#root.view {
    display:flex;
    flex-direction: row;
}
#left {
    flex-grow: 1;
    margin-right: 1em;
    display:inline-flex;
    flex-direction: column;
}

#right {
    margin-left: 1em;
    flex-grow: 1;
    display: flex;
    flex-direction:column;
}

#code {
    border: 1px #008CBA dashed;
    border-radius: 5px;
    flex-grow: 1;
    padding: 5px;
}    
.code {
    font-family: 'Monospace';
    white-space: pre;
}
h2 {
    font-size: 1.2em;
    margin-bottom:0;
    padding-bottom: 0;
}

svg {
    border: 1px #008CBA dashed;
    border-radius: 5px;
    flex-grow: 1;
    min-width: 100%;
    padding: 5px;
}
#error {
    display: none;
}
#error.visible {
    display: block;
    margin-left:10%;
    margin-right:10%;
    background-color: #ffdddd;
    padding: 10px;
    border-radius:5px;
    white-space: pre;
}

select {
    padding:0.3em;
}
select:invalid {
    color: gray;
}

/* Syntactic color */
.hl-error {
    border: 1px dashed darkred;
}
.keyword { font-weight: bold; color: lightblue; }
.string { color: #ffaaaa; }
.constr { color: blue; }
.number{ color: darkgreen; }

.indented {
    border-left: 1px black dotted;
    margin-top:5px;
    margin-left: 10px;
    padding-left: 10px;
}

/* Tooltip */
#tooltip.hidden {display: none;}
#tooltip.visible{
    background-color: black;
    border-radius:10%;
    color: white;
    position: fixed;
    margin: 10px;
    padding: 15px;
}

tspan.button {
    text-decoration:underline;
    text-decoration-style:dotted;
    cursor:pointer;
}
tspan.button:hover {
    text-decoration:underline;
    text-decoration-style:solid;
    cursor:pointer;
}

#form {
    display: none;
}

#form.visible {
    display:block;
    position: fixed;
    padding: 20px;
    top:20vh;
    left:50%;
    transform:translateX(-50%);
    border-radius: 5px;
    border: 1px black solid;
    background-color: lightgrey;
}
